<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="icon" type="image/x-icon" href="./images/icon/sepakat.png">
<title>Sepakat</title>
</head>
<body>
	<header>
		<nav>
		<div class="brand-logo">
			<img src="./images/icon/sepakat.png" title="Sepakat Logo">
		</div>
		<button class="nav-toggle" id="nav-toggle">☰</button>
      		<ul class="nav-links" id="nav-links">
				<li><a href="#/home">Home</a></li>
				<li><a href="#/produk">Produk</a></li>
				<li><a href="#/about">About</a></li>
			</ul>
		</nav>
	</header>

	<main id="content-main">
		
	</main>

	<footer>
		<div class="footer-container">
            <div class="footer-brand">
                <img src="./images/icon/sepakat.png" alt="Sepakat Logo" title="Sepakat">
            </div>
            <div class="footer-social">
                <a href="https://www.instagram.com/adammaulana.kap?igsh=bmd4YWVsc3hvZGY0" 
                title="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://youtube.com/@adamashari512?si=DWucGMyjGqXbYwiS" title="Github"><i class="fab fa-github"></i></a>
                <a href="https://www.youtube.com/channel/UCr23ysVyzu40bfSE69Q4ygg" 
                title="Youtube"><i class="fab fa-youtube"></i></a>
                <a href="https://www.linkedin.com/in/joni-satrio-sembiring-576854279?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BD2i9K330SGSCv7cdRNcEJg%3D%3D" title="LinkedIn"><i class="fab fa-linkedin-in">
               	</i></a>
            </div>
            <p>Copyright &#169; 2024, Sepakat Team</p>
        </div>
	</footer>
</body>
</html>