/*renponsive navigasi*/
@media screen and (max-width: 750px) {
  .nav-links {
    display: none;
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    gap: 1.5rem;
    background-color: #C18545;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
  }

  .active {
    display: flex;
  }

  .nav-toggle {
    display: flex;
    z-index: 2000;
  }

  nav{
    padding: 12px 25px;
  }

/*responsif active*/
  nav li.active {
    border-bottom: none;
    padding-bottom: 0;
    color: #543310;
  }
}

@media screen and (max-width: 850px) {
  .pakaian-adat-img {
    height: 400px;
  }
}

@media (max-width: 480px) {
  #search-input {
    width: 95%;
  }
}

@media (max-width: 850px) {
  .hero{
    min-height: 350px;
  }

  .hero-content h2 {
    font-size: 1.5em;
  }

  .hero-content p {
    font-size: 1em;
  }
}

@media (max-width: 870px) {
  .team-grid {
    max-width: 1000px;
  } 

  .team-member img {
    height: 380px;
  }
}

@media (max-width: 600px) {
  .sponsor {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    padding: 10px 0;
  }

  .sponsor img {
    max-width: 80px;
  }

  .sponsor-title {
    font-size: 1em;
  }
}

@media (max-width: 1024px) {
  .features {
    grid-template-columns: repeat(3, 1fr); /* responsive for tablets */
  }
}

@media (max-width: 480px) {
  .features {
    grid-template-columns: 1fr; /* responsive for mobile device */
  }
}

@media (max-width: 1024px) {
  .product {
    grid-template-columns: repeat(2, 1fr); /* responsive for tablets */
  }

  .product img{
    height: 400px;
  }
}

@media (max-width: 480px) {
  .product {
    grid-template-columns: 1fr; /* responsive for mobile device */
  }
}